@import '@/assets/styles/variables';
@import '@/assets/styles/animation';

.home {
	background-color: $bg-semi-gray;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 40px;
	text-align: center;
	font-family: $default-font;
	margin-left: -10px;
	margin-right: -10px;
	gap: 25px;
}

.miniTitle {
	min-height: 1.5rem;
	font-weight: 400;
	font-size: 1.25rem;
	text-align: center;
	letter-spacing: normal;
	line-height: 1.4;
	margin-top: -10px;
}

.title {
	justify-content: center;
	font-weight: 700;
	font-size: 2.75rem;
}
.buttonBluee {
	background-color: $blue;
	color: $bg-white;
	border: none;
	padding: 0.375rem 0.875rem;
	height: 50px;
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;

	&:hover {
		background: #7342bc;
	}
}
