@import '@/assets/styles/variables';
@import '@/assets/styles/animation';

.buttonBlue {
	background-color: $blue;
	color: $bg-white;
	border: none;
	padding: 24px;

	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;
	width: 50%;

	&:hover {
		background: #7342bc;
	}
}
