@import '@/assets/styles/variables';
@import '@/assets/styles/animation';

.sec1 {
	display: flex;
}
.d1 {
	background-image: url('@/assets/Registration-img.png');
	background-size: cover; // масштабирует, сохраняя пропорции
	background-position: center;
	height: 100vh; // половина высоты viewport
	width: 50%;
	flex: 50% 1;
	font-family: $default-font;
}

.d1 h1 {
	font-size: 2.75rem;
	line-height: 1.2727272727272727;
	position: absolute;
	margin: 3.5%;
	max-width: 400px; // ограничиваем ширину
	word-wrap: break-word; // разрешаем перенос слов
	hyphens: auto; // автоматические переносы
	color: #333333;
}

.d2 {
	background-color: $bg-white;
	height: 100vh; // половина высоты viewport
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 2rem;
	font-family: $default-font;
	position: relative;
}

.closeButton {
	position: absolute;
	top: 20px; // отступ от верха
	right: 20px; // отступ от правого края
	cursor: pointer;
	transition: all 0.2s ease;

	&:hover {
		transform: scale(1.1);
		opacity: 0.8;
	}
}

.logo {
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 150px; // задаем нужную ширину
	height: auto;
	font-size: 2rem;
	font-weight: bold;
}

.regTitle {
	font-weight: 700;
	font-size: 1.6rem;
	text-align: center;

	align-items: center;
	cursor: pointer;
	flex-direction: column;
	margin-right: 2rem;
}

.titleNames {
	display: flex;
	justify-content: flex-start;
}
.container {
	display: flex;
	flex-direction: column;

	justify-content: flex-start;
	gap: 20px; // расстояние между элементами
	width: 100%;
	max-width: 600px;
	padding: 60px 0; // отступы сверху и снизу
	margin: 0 auto;
}

.buttonGoogle {
	background-color: #ffffff;
	color: gray;
	border: 2px solid #dcdcdc;
	padding: 0.375rem 0.875rem;
	height: 65px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease;
	border-radius: 50px;
	margin-bottom: 1rem;

	&:hover {
		background-color: #f0f0f0;
		border-color: #bfbfbf;
	}
}

.dividerFlex {
	display: flex;
	align-items: center;
	//margin: 20px 0;
	color: #666;
	font-size: clamp(14px, 2vw, 24px); /* автоматическое масштабирование */
}

.line {
	flex: 1;
	height: 1.5px;
	background-color: #eaeaea;
	margin: 0 10px; /* увеличенный отступ от текста */
}

.text {
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
	padding: 0 10px;
}

.underline {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttonBlue {
	background-color: $blue;
	color: $bg-white;
	border: none;
	padding: 0.375rem 0.875rem;
	height: 65px;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;

	&:hover {
		background: #7342bc;
	}
}

//.underline svg {
//	width: 50%; /* SVG растянется на всю ширину родителя */
//	height: auto;
//	max-width: 100%;
//}
